<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Task List Application</title>
</head>
<body>
    <div class="container">
            <h1>Task List</h1>
           <form action = "/addtask" method="POST">
                    <input type="text" name="newtask" placeholder="add new task">
                    <button> Add Task </button>
                    
                    <h2> Ongoing Tasks</h2>
        
                    <% console.log("hellO ejs") %>
                        <% console.log(list)%> 
                        <% for (var i = 0; i < list.length; i++) { %>
                            <li><input type="checkbox" name="check" value="<%= list[i]%>" /> <%= list[i] %> </li>
                         <%}%> 
                    <button formaction="/removetask" type="submit"> Remove</button>
            </form>
            <h2> Completed Tasks</h2>
                    
           
    </div>
</body>
</html>